@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Tasks" asp-action="NewTask">Создать новую задачу</a><br>
    <a href="/Tasks/Edit/5" >Посмотреть задачу #5</a>
</div>

